Backdrop {
    background-color: #494251;
    color: white;
}

/* #note-component .backdrop {
    color: black;
} */

#note-component Button {
    background-color: #9b6fcb;
}

#note-component Button:hover {
    background-color: #7c59a2;
}