
.campaign-settings {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.settings-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #494251;
    border-radius: 5px;
    padding: 30px;
    
}

.campaign-settings main {
    width: 50%;
}

.campaign-settings input {
    background-color: #38323e;
    color: white;
    width: 100%;
}

.campaign-settings textarea {
    background-color: #38323e;
    border: none;


    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.campaign-settings form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campaign-settings label {
    align-self: flex-start;
    margin-top: 15px;
}

.campaign-settings input[type="submit"] {
    margin-top: 15px;
    background-color: rgb(155, 111, 203);
}

.campaign-settings h1 {
    color: rgb(255, 216, 97);
    margin: 0;
}

.campaign-settings .players-container {
    width: 100%;
}

.campaign-settings .player {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.campaign-settings .tags {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 770px) {
    .campaign-settings h1 {
        font-size: 40px;
        top: 29%;
        left: 18%;
    }

    .campaign-settings form {
        width: 100%;
    }
    
}

@media (max-width: 450px) {

    .campaign-settings {
        height: initial;
        margin-top: 15px;
    }

    .settings-box {
        display: block;
        background-color: inherit;
        padding: 0;
    }

    .campaign-settings h1 {
        font-size: 30px;
        position: inherit;
        margin-bottom: 15px;
    }
}