.myNotes {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-y: hidden;
    height: 90%;
}

.myNotes .tagList {
    display: flex;
    align-items: center;
}

.myNotes aside {
    overflow-y: scroll;
    padding: 20px;
}

.myNotes h1 {
    font-size: 35px;
    text-align: center;
    margin: 0 0 20px 0;
}

.myNotes search {
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 80%;
    align-content: center;
    padding: 5px;
    margin-bottom: 10px;
}

.myNotes input:focus + search {
    outline: black 1px solid;
}

.myNotes input {
    width: 100%;
    font-size: 15px;
    padding: 5px
}

.myNotes input:focus {
    outline: none;
}

.myNotes .searchIcon {
    font-size: 30px;
    z-index: 1;
    color: black;
}