body {
    place-items: center;
}

.alert {
    display: none;
    color: red;
}

.sign-up-page {
    height: 100%;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding: 30px;
}

.sign-up-page form {
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
}

.sign-up-page .input-container {
    display: flex;
    align-items: center;
    background-color: #494251;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.sign-up-page input {
    width: 100%;
    background-color: #494251;
}

.sign-up-page input[type="submit"] {
    align-self: center;
    margin-top: 10px;
    background-color: rgb(155, 111, 203);
    margin-bottom: 13px;
}

.sign-up-page input[type="submit"]:hover {
    background-color: rgb(124, 89, 162);
}

.sign-up-page label, p {
    margin-bottom: 3px;
    padding: 0;
    color: rgb(170, 170, 170);
    font-size: 13px;
}

.sign-up-page a {
    color: rgb(145, 255, 222);
    text-decoration: none;
}

.sign-up-page .icon {
    font-size: 25px;
}

.sign-up-page .error {
    color: rgb(255, 85, 85);
}

@media (max-width: 768px) {
    .login-container {
        width: 70%;
    }
}
